/* Hide scrollbar for Chrome, Safari, and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.widthFull {
  width: auto;
}
@media (max-width: 640px) {
  .widthFull {
    width: 95% !important;
  }
}
@media (max-width: 450px) {
  .widthFull {
    width: 97% !important;
  }
}
