@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.container {
  width: 85vw;
  max-width: 1532px;
  margin: auto;
}

.mySwiper {
  padding-bottom: 50px;
}

.mySwiper .swiper-pagination {
  bottom: 10px !important;
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* Dot style */
.mySwiper .swiper-pagination-bullet {
  width: 25px;
  height: 9px;
  background: #e00606;
  opacity: 1;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  background: #0a7a30;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

/* Adjust pagination size for smaller screens */
@media (max-width: 768px) {
  .mySwiper .swiper-pagination {
    gap: 6px; /* Reduce gap on smaller screens */
  }
  .mySwiper .swiper-pagination-bullet {
    width: 20px;
    height: 7px;
  }

  .mySwiper .swiper-pagination-bullet-active {
    width: 23px;
    height: 8px;
  }
}

/* Even smaller screens */
@media (max-width: 480px) {
  .mySwiper .swiper-pagination {
    gap: 4px; /* Further reduce gap */
  }
  .mySwiper .swiper-pagination-bullet {
    width: 18px;
    height: 6px;
  }

  .mySwiper .swiper-pagination-bullet-active {
    width: 19px;
    height: 7px;
  }
}
